@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Bad Signal';
    src: url(../Assets/fonts/Bad\ Signal.otf) format('truetype');
}

@font-face {
    font-family: 'Bahnschrift';
    src: url(../Assets/fonts/BAHNSCHRIFT.TTF) format('truetype');
}

/* ------------------------------------ RESET ------------------------------------ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

* {
    box-sizing: border-box;
}

:root {
    --main-color: black;
    --secondary-color: #00623c;
    --terciary-color: #b4e4ff
}

body {
    font-family: Montserrat, "sans-serif";

}

.container {
    overflow: hidden;
    min-height: 100vh;
}

.bold {
    font-weight: 600;
}

/* ------------------------------ CABECERA ------------------------------------ */


header {
    position: absolute;
    display: flex;
    width: 100%;

    z-index: 100000;
    justify-content: space-between;
    transition: 0.6s;
    animation: fadeIn 2s ease-in-out forwards;
}



/* ------------------------------------ LOGO ------------------------------------ */


.logo {
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    width: 10vw;

    justify-content: flex-start;
    align-items: center;
    align-content: center;

    margin-left: 3vw;
    margin-top: 0.2vh;
    margin-bottom: 1vh;
    /* transition: 0.6s; */
}

.logo img {
    margin-top: 1vh;
    width: 6em;
    cursor: pointer;
}


/* ------------------------------------ MENÚ ------------------------------------ */


.main-nav {
    display: flex;
    flex-flow: row nowrap;

    font-weight: 300;
    margin-top: 4.5vh;
}

.list-nav {
    position: relative;
    display: flex;
    margin-right: 2vw;
}

.list-nav li:not(:last-child) {
    margin-right: 8vw;
}

.list-nav li {
    position: relative;
    text-transform: uppercase;
    font-size: clamp(0.7rem, 0.557rem + 0.381vw, 0.9rem);
    font-weight: 600;
    list-style: none;
    font-family: Bahnschrift, "sans serif";
    margin-right: 4vw;
}

.list-nav li a::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.list-nav li a:hover {
    color: white;
}

.list-nav li a:hover::after {
    width: 100%;
}

.link {
    position: relative;
    text-decoration: none;
    color: white;
    letter-spacing: 0.5px;
    padding: 0 6px;
}

.list-nav li a.active {
    color: #EC7063;
}

.list-nav li a.active::after {
    width: 100%;
}


.abrir-menu,
.cerrar-menu {
    display: none;
}



/* ------------------------------------ HERO ------------------------------------ */



#hero-scaperooms {
    position: relative;
    width: 100vw;
    height: 80vh;

    background-image: url(../Assets/imagesScapeRooms/hero-scaperooms.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    /* background-attachment: fixed; */

}


/*----------------- TEXTO 1 -----------------*/


.green {
    position: absolute;
    width: 30%;
    top: 36%;
    left: 47%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: clamp(3.5rem, 1.357rem + 5.714vw, 6.5rem);
    font-weight: 400;
    font-family: 'Bad Signal';
    letter-spacing: .2em;
    animation: fadeIn 2s ease-in-out forwards;

}


/*----------------- TEXTO 2 -----------------*/


.haven {
    position: absolute;
    width: 20%;
    top: 51%;
    left: 55%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: clamp(3.5rem, 1.357rem + 5.714vw, 6.5rem);
    font-weight: 400;
    font-family: 'Bad Signal';
    letter-spacing: .2em;
    animation: fadeIn 2s ease-in-out forwards;

}


/*----------------- SCROLL -----------------*/


.scroll-down {
    position: absolute;
    left: 90%;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 100px;
    background-color: transparent;
    color: white;
    animation: fadeIn 2s ease-in-out forwards;
}

.scroll-down p {
    margin-top: 4vh;
    margin-left: 1vw;
}

.scroll-down:before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #fff, transparent);
    animation: animate 2s linear infinite
}

@keyframes animate {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }

    50% {
        transform-origin: top;
        transform: scaleY(1);
    }

    51% {
        transform-origin: bottom;
        transform: scaleY(1);
    }

    100% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* ------------------------------------ SECTION - 1 ------------------------------------ */

.section-1-scaperooms {
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100vw;
    height: 30vh;
    /* background-color: #EC7063; */
}

.rectangulo-1-filtros-scaperooms {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;

    width: 80vw;
    height: fit-content;
}

#como {
    font-size: clamp(1.5rem, 1.143rem + 0.952vw, 2rem);
    color: black;
    font-weight: 600;
    font-family: Bahnschrift, "sans serif";
    margin-bottom: 5vh;
}

.filtros-scaperooms {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    width: 80vw;
    height: 13vh;

    /* background-color: #bbb; */
}

#rectangulo-ubicacion {
    background-color: #EC7063;
    width: 14vw;
    height: 3em;
    text-align: center;
    line-height: 3em;

    cursor: pointer;
}

#rectangulo-dificultad {
    background-color: #EC7063;
    width: 14vw;
    height: 3em;
    text-align: center;
    line-height: 3em;

    cursor: pointer;
}

#rectangulo-tematica {
    background-color: #EC7063;
    width: 14vw;
    height: 3em;
    text-align: center;
    line-height: 3em;

    cursor: pointer;
}

.buscar {
    background-color: #EC7063;
    width: 4vw;
    height: 3em;
    text-align: center;
    line-height: 3em;

    cursor: pointer;
}

/* ------------------------------------ SECTION - 2 ------------------------------------ */


.section-2-scaperooms {
    display: flex;

    justify-content: center;
    align-content: center;
    align-items: center;

    width: 100vw;
    height: 170vh;

    /* background-color:grey; */
    margin-top: 20vh;
    margin-bottom: -17vh;
}

.lista-scaperooms {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    width: 80vw;
    height: fit-content;

    /* background-color: pink; */
}

.caja-scaperoom {
    display: flex;
    flex-flow: column wrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 25vw;
    height: 60vh;

    background-color: #e7edef;
    margin-bottom: 5vh;

    border-radius: 5px;
}

.imagen-scaperoom {
    width: 100%;
    height: 60%;


    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#imagen-scaperoom-1 {
    background-image: url(../Assets/imagesScapeRooms/cartel-scaperoom-1.jpg);
}

#imagen-scaperoom-2 {
    background-image: url(../Assets/imagesScapeRooms/cartel-scaperoom-2.jpg);
}

#imagen-scaperoom-3 {
    background-image: url(../Assets/imagesScapeRooms/cartel-scaperoom-3.png);
}

#imagen-scaperoom-4 {
    background-image: url(../Assets/imagesScapeRooms/cartel-scaperoom-4.jpg);
}

#imagen-scaperoom-5 {
    background-image: url(../Assets/imagesScapeRooms/cartel-scaperoom-5.jpg);
}

/* #imagen-scaperoom-6 {
    background-image: url(../Assets/imagesScapeRooms/cartel-scaperoom-7.png);
} */
/* 
#imagen-scaperoom-7 {
    background-image: url(../Assets/imagesScapeRooms/cartel-scaperoom-1.png);
}

#imagen-scaperoom-8 {
    background-image: url(../Assets/imagesScapeRooms/cartel-scaperoom-1.png);
}

#imagen-scaperoom-9 {
    background-image: url(../Assets/imagesScapeRooms/cartel-scaperoom-1.png);
}

#imagen-scaperoom-10 {
    background-image: url(../Assets/imagesScapeRooms/cartel-scaperoom-1.png);
} */

.info-scaperoom {
    display: flex;
    flex-flow: column nowrap;

    justify-content: space-around;
    /* align-items: center;
    align-content: center; */

    width: 90%;
    height: 40%;
    /* background-color: bisque; */
}

.nombre-scaperoom {
    
}

.nombre-scaperoom p {
    font-size: clamp(1.23rem, 1.037rem + 0.514vw, 1.5rem);
    color: black;
    font-weight: 600;
    font-family: Bahnschrift, "sans serif";
}

.caracteristicas-scaperoom {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.caracteristicas-scaperoom p {
    width: 8em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 8px;
    background-color: #d3d0d0;
    font-size: clamp(0.85rem, 0.779rem + 0.19vw, 0.95rem);
    font-family: Montserrat, "sans-serif";
}

.descripcion-scaperoom p{
    line-height: 1.4em;
    font-size: clamp(0.76rem, 0.617rem + 0.381vw, 0.96rem);
}

.precio-y-reserva {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#reserva-ahora {
    font-size: clamp(0.76rem, 0.617rem + 0.381vw, 0.96rem);
    font-weight: 500;
    cursor: pointer;
}